.botao{
    background-color: #FE7416;
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    padding: 32px;
    border: none;
    cursor: pointer;
    color: #FFF;
    margin: 16px 0;
}

.botao:hover{
    background-color: #9F490F;
    transition: background-color 0.3s ease;
}