.formulario {
  /* background-color: #fdfafa; */
  /* border: 1px solid #4b1e0e; */
  border-radius: 8px;
  width: 100%;
  /* max-width: 700px; */
  /* margin: auto; */
  color: #4b1e0e;
  /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05); */
  position: relative;
}

.formulario h2 {
  font-size: 22px;
   margin: 8px 0 1px 10px;
  font-weight: 600;
  color: #4b1e0e;
}

.linha {
  border-top: 2px solid #4b1e0e;
  margin-bottom: 10px;
  width: 100%;
}

.formulario form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px 20px;

}

.formulario label {
  display: block;
  font-weight: 500;
  margin-bottom: 2px;
}

.formulario input,
.formulario select,
.formulario textarea {
  padding: 6px 8px;
  border: 1px solid #4b1e0e;
  border-radius: 4px;
  width: 100%;
  font-size: 13px;
  font-family: 'Inter', sans-serif;
  color: rgb(75, 30, 14);
}

.formulario .linha-dupla {
  display: flex;
  gap: 10px;
  margin-bottom: 4px;
}

.formulario .linha-dupla > div {
  flex: 1;
}


.formulario button {
  margin-top: 10px;
  border-radius: 10px;
  font-weight: 500;
  font-size: 16px;
  padding: 10px 20px;
  
  cursor: pointer;
}

/* Botões personalizados */
button[type="submit"],
.botao-salvar {
  background-color: #FE7416;
    border: none;
    color: #FFF;
}

button[type="submit"]:hover,
.botao-salvar:hover {
    background-color: #9F490F;
    transition: background-color 0.3s ease;
}

.botao-cancelar {
  background-color: #FFF;
    border-color: #FE7416;
    color: #FE7416;
}

.botao-cancelar:hover {
    background-color: #D6CFCF;
    transition: background-color 0.3s ease;

}

/* Responsivo */
@media (max-width: 600px) {
  .formulario .linha-dupla {
    flex-direction: column;
  }
}
.formulario .linha-dupla:last-of-type {
  justify-content: flex-start;
  gap: 10px;
  margin-top: 10px; /* ou menos se quiser mais compacto */
}
